@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "新增采购单";
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/ord_dingdan/Edit/" + u_id;
            //    location.href = url_go;
            //}
        });

        $("#bt_add").click(function () {
            var _type = Number($("#sel_type").val());
            var _line = Number($("#sel_line").val());
            if (_line == 0 || _type == 0) {
                alert("请选择产品线和订单类型后才能添加商品信息！");
                return;
            }
            if (_type == 1)
                $("#pl_sp").show();
            if (_type == 2)
                $("#pl_tb").show();
            if (_type == 3)
                $("pl_cx").show();
        });
        $("#pl_sp").draggable({ handle: ".panel-heading" });
        $("#pl_sp_close").click(function () {
            $("#pl_sp").hide();
        });
        $("#pl_sp_cancel").click(function () {
            $("#pl_sp").hide();
        });
        $("#pl_sp_ok").click(function () {
            var _dm = $("#pl_spdm").val();
            var _sl = $("#pl_cgsl").val();
            if (_dm.length == 0) {
                alert("请录入商品代码后添加！");
                return;
            }
            if (_sl.length == 0) {
                alert("请输入采购数量！");
                return;
            }
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/base_shangpinxx/getproductbycust",
                data: {
                    cpx: $("#sel_line").val(),
                    dm: _dm,
                    sl: _sl,
                    sm: $("#pl_bz").val()
                },
                success: function (data) {
                    if (data == -1) {
                        alert("添加商品出错！");
                    }
                    else {
                        var _filltr = "";
                        _filltr = _filltr + "<tr>";
                        _filltr = _filltr + "<td></td>";
                        _filltr = _filltr + data.Mingcheng;
                        _filltr = _filltr + "</tr>";
                        $("#dt_sp tbody tr").append(_filltr);
                        $("#pl_sp").hide();
                    }
                }
            });

        });
        $("#cpx").change(function () {
            $("#sel_line").val($("#cpx").val());
        });
        $("#ordertype").change(function () {
            $("#sel_type").val($("#ordertype").val());
        });
        $("#pl_tb").draggable({ handle: ".panel-heading" });
        $("#pl_tb_close").click(function () {
            $("#pl_tb").hide();
        });
        $("#pl_tb_cancel").click(function () {
            $("#pl_tb").hide();
        });
        $("#pl_tb_ok").click(function () {
        });
    });
</script>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="page-content">
    <input type="hidden" id="sel_line" value="0" />
    <input type="hidden" id="sel_type" value="0" />
    <div class="row">
        <p class="align-center">
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_add"><i class="icon-adn"></i>添加商品</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_import"><i class="icon-exchange"></i>导入商品</button>
            <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_save"><i class="icon-save"></i>保存订单</button>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>订单编号：</label>
        </div>
        <div class="col-sm-2">
            <input type="text" readonly placeholder="系统自动生成" />
        </div>
        <div class="col-sm-2">
            <label>产品线:</label>
        </div>
        <div class="col-sm-2">
            <select id="cpx">
                <option value="0"></option>
                @foreach (base_chanpinxiansqViewModel cpx in ViewBag.cpxsq)
                {
                    <option value="@cpx.CPXID">@cpx.CPXDM</option>
                }
            </select>
        </div>
        <div class="col-sm-2">
            <label>订单类型</label>
        </div>
        <div class="col-sm-2">
            @Html.SelectList_Common("ordertype", "订单类型")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="dt_sp">
                        <caption><i class="icon-edit"></i>采购商品列表</caption>
                        <thead>
                            <tr>
                                <td></td>
                                <td>代码</td>
                                <td>规格</td>
                                <td>描述</td>
                                <td>数量</td>
                                <td>单价</td>
                                <td>金额</td>
                                <td>备注</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>代码</td>
                                <td>规格</td>
                                <td>描述</td>
                                <td>数量</td>
                                <td>单价</td>
                                <td>金额</td>
                                <td>备注</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pl_sp" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:200px;width:400px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">商品登记<button id="pl_sp_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <div class="col-sm-6"><p class="btn default" id="pl_sp_ok"><i class="icon-ok"></i>添加</p></div>
            <div class="col-sm-6"><p class="btn default" id="pl_sp_cancel"><i class="icon-search"></i>取消</p></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3">商品代码</label>
                <div class="col-sm-9">
                    <input type="text" id="pl_spdm" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">采购数量</label>
                <div class="col-sm-9">
                    <input type="text" id="pl_cgsl" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">备注</label>
                <div class="col-sm-9">
                    <input type="text" id="pl_bz" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pl_tb" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:200px;width:400px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">套包登记<button id="pl_tb_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <div class="col-sm-6"><p class="btn default" id="pl_tb_ok"><i class="icon-ok"></i>添加</p></div>
            <div class="col-sm-6"><p class="btn default" id="pl_tb_cancel"><i class="icon-search"></i>取消</p></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3">套包代码</label>
                <div class="col-sm-9">
                    <input type="text" id="pl_tb_tbdm" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">采购数量</label>
                <div class="col-sm-9">
                    <input type="text" id="pl_tb_cgsl" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">备注</label>
                <div class="col-sm-9">
                    <input type="text" id="pl_tb_bz" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
