#loading {
    height: 30px;
    border: 3px solid #C3DAF9;
    position: fixed;
    top: 300px;
    left: 600px;
    z-index: 10000;
    background-color: #F7F9FC;
    line-height: 25px;
    vertical-align: middle;
    font-size: 11pt;
    display: none;
}
