 
 /*头部导航栏*/
  header {
            width: 100%;
            height: 60px;
            margin-bottom: 0;
        }

        header .logo {
            width: 100%;
            height: 60px;
            line-height: 60px;
        }

        header .logo img {
            width: 40%;
            height: 60px;
            vertical-align: middle;
        }

        header .list ul {
            height: 60px;
            line-height: 60px;
        }

        header .list ul li {
            float: right;
            margin-left: 15px;
        }

        header .list ul li a {
            font-size: 16px;
            color: #949595;
        }
        header .list ul li a:hover{

             color: #2cbba4;
        }

        @media (max-width:700px) {
            header .logo img {
                width: 120px;
                height: 75px;
                vertical-align: middle;
            }
            header .list {
                width: 200px;
                height: 80px;
            }
            header .list ul li {
                margin-left: 10px;
            }
            header .list ul li a {
                font-size: 14px;
            }
        }

        @media(max-width:500px) {
       
            header .logo img {
                width: 100px;
                height: 37px;
                vertical-align: middle;
            }
            header .list {
                width: 152px;
                height: 50px;
            }
        
            header .list ul li {
                margin-left: 5px;
                ;
            }
            header .list ul li a {
                font-size: 12px;
            }
       
          
        }
 

 /*轮播图       */
 /*轮播图开始*/
/*a:focus {
 outline: none;
}
.navbar-brand {
 padding: 0;
}
.carousel-inner .item img {
 margin: 0 auto;
 width: 100%;
}
.carousel-control {
 font-size: 100px;
}   

.carousel .item a{
	display: block;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}*/




/*关于我们*/
 .about {
  margin: -50px auto 100px auto;
  width: 60.4166%;
  background: #ffffff;
  padding: 0 0 80px 0;
  z-index: 1000;
  position: relative;
}
.about .identification {
  text-align: center;
    padding: 80px;
}

.about .identification>div {
  margin: 0 auto;
  color: #3085b1;
}

.about .identification .title {
  font-size: 2.8rem;
}

.about .identification .content {
  font-size: 1.8rem;
}

.about .identification p {
  font-size: 2.5rem;
  color: #949595;
  margin: 30px 0 0 0;
}

.about .split-bar {
  width: 40px;
  height: 3px;
  background-color: #3085b1;
  margin: 10px auto !important;
  position: relative;
}

.about .split-bar:before, .about .split-bar:after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  position: absolute;
  background-color: #a9aaaa;
}

.about .split-bar:before {
  right: 0;
  margin-right: 120%;
}

.about .split-bar:after {
  left: 0;
  margin-left: 120%;
}

@media(max-width:700px){
.about .identification {
  text-align: center;
  padding: 20px;
}
.about .identification .title {
  font-size: 1.8rem;
}
.about .identification .content {
  font-size: 0.8rem;
}
.about .identification p {
  font-size: 1.5rem;
  color: #949595;
  margin: 10px 0 0 0;
}
.about .split-bar {
  width: 20px;
  height: 3px;
  background-color: #3085b1;
  margin: 10px auto !important;
  position: relative;
}
.about .split-bar:before, .about .split-bar:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #a9aaaa;
}
 .about {
  margin: -50px auto 100px auto;
  width: 60.4166%;
  background: #ffffff;
  padding: 0 0 0 0;
  z-index: 1000;
  position: relative;
}

}




/*banner部分开始*/
.about .banner img{
  width: 100%;
  height: 100%;
}
.about .center-container{

  width: 100%;
  height: 22.91rem;

}
.about .banner .introduction {
  height: 240px;
  width: 300px;
   font-size: 16px;
  color: #ffffff;
  line-height: 200%; 
}

.about .banner  .introduction label {
  line-height: 200%;
  font-weight: bolder;
  display: block;
  width: 45px;
  height: 6px;
  background-color:#ffffff;
}
.center-container {
  position: relative;
  overflow: hidden;
}

.center-container>.content {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media(max-width:500px){

.about .banner .introduction{
  font-size: 14px;
}
.about .banner-1 .introduction{
  font-size: 14px;
}

}


/*第二部分*/
.about .banner-1 .center-container{
  width: 100%;
  height: 22.91rem;
}
.about  .banner-1 .introduction {
  height: 240px;
  width: 300px;
  color:#2cbba4;
  line-height: 200%; 
}
.about .banner-1  .introduction label {
  line-height: 200%;
  font-weight: bolder;
  display: block;
  width: 45px;
  height: 6px;
  background-color:#2cbba4;
}
.about .banner-1  .introduction label {
  line-height: 200%;
  font-weight: bolder;
  display: block;
  width: 45px;
  height: 6px;
  background-color:#2cbba4;
}



/*主体部分*/
 .my-container {
            background-image: url('/Imgs/carousel/bg1.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 0;
            margin: 0;
        }
        
.my-container .my-row {
            margin: 100px 0;
        }
        
.my-container .my-row>div {
            text-align: center;
            padding: 10px;
        }
        
.bg-white {
            background-color: #fff;
        }
        
.my-container .my-img {
            display: block;
            width: 100%;
        }
        
.my-container .my-row .title {
            font-size: 1.8rem;
            color: #3085b1;
            margin-top: 35px;
        }
        
.my-container .my-row .content {
            font-size: 16px;
            color: #3085b1;
            margin-bottom: 30px;
        }
        
.my-container .my-row .split-bar {
            width: 18px;
            height: 2px;
            background-color: #3085b1;
            margin: 10px auto !important;
            position: relative;
        }
        
.my-container .my-row .split-bar:before,
 .my-container .my-row .split-bar:after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            position: absolute;
            background-color: #a9aaaa;
        }
        
.my-container .my-row .split-bar:before {
            right: 0;
            margin-right: 120%;
        }
        
.my-container .my-row .split-bar:after {
            left: 0;
            margin-left: 120%;
        }
        
.my-container .my-row p {
            font-size: 1.5rem;
            line-height: 200%;
            color: #949595;
        }

@media(max-width:900px){
    .my-container .my-row  .bg-white{
        float:none !important;
    }

}


/*反馈意见*/

.feedback-container {
  width: 66%;
  margin: 100px auto;
}
.feedback-container img {
  width: 100%;
  height: 100%;
} 

.feedback-container .identification {
  text-align: center;
}

.feedback-container .identification .title {
  font-size: 2.8rem;
  color: #3085b1;
  margin-top: 50px;
}

.feedback-container .identification .content {
  font-size: 1.5rem;
  color: #3085b1;
  margin-bottom: 30px;
}


.feedback-container .identification p {
  font-size: 2rem;
  line-height: 200%;
  color: #949595;
  margin-bottom: 100px;
}

.feedback-container .split-bar {
  width: 25px;
  height: 2px;
  background-color: #3085b1;
  margin: 10px auto !important;
  position: relative;
}

.feedback-container .split-bar:before, .feedback-container .split-bar:after {
  content: "";
  display: block;
  width: 45px;
  height: 2px;
  position: absolute;
  background-color: #a9aaaa;
}

.feedback-container .split-bar:before {
  right: 0;
  margin-right: 120%;
}

.feedback-container .split-bar:after {
  left: 0;
  margin-left: 120%;
}

.feedback-container .banner-2 img{
  height: 100%;
  width: 100%;
}
.feedback-container .banner-2 .center-container{
  position: relative;
  width: 100%;
  height: 401px;
  /*background-color: red;*/
}
.feedback-container .feedback {
    height: 300px;
    width: 72%;
    }
.feedback-container .banner-2 .center-container .content{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.feedback-container .banner-2 {
  background-color: #ffffff;
}
/*输入框*/
.feedback-container .banner-2 input textarea {
    font-size: 1.6rem;
    padding: 12px 8px;
    border: 1px solid #dddddd;
    outline: none;
    font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif;

}

.feedback-container .banner-2 .input-area{
  width: 100%;
  resize: none;
}
.feedback-container .banner-2 .input-area{
  margin: 8px 0;
}

.feedback-container .banner-2 .btn1{
    width: 25%;
    background-color: #3085b1;
    border-color: #3085b1;
    color: #ffffff;  
    border-radius:5%;
}
.feedback-container .banner-2 select {
    width: 55%;
}

@media(max-width:700px){
  .feedback-container .introduction .identification .title{
  font-size: 1.8rem;
  color: #3085b1;
  text-align:left;
  }
  .feedback-container .identification p {
  font-size: 14px;
  line-height: 200%;
  color: #949595;
  margin-bottom: 0;
}
}

/*页面底部部分*/
 .my-footer {
            background-color: #3a3a3a;
            background-size: 100% 100%;
            padding: 0;
            margin: 0;
        }

        .my-footer .my-row {
            width: 85%;
            margin: 100px 10%;
            text-align: center;
            line-height: 200%;
        }

        .my-footer .my-row>div {
            text-align: center;
            padding: 10px;
        }

        .color {
            color: #ffffff;
        }


       .my-footer  .my-img {
            display: block;
            width: 202px;
            height: 60px;
        }

        .my-footer .container .my-row .title {
            height: 30px;
            font-size: 1.85rem;
            text-align:left;
        }

        .my-footer .container .split-bar {
            position: relative;
            width: 10px;
            height: 2px;
            background-color: #2cbba4;
            margin: 3px 0 20px 0px !important;
        }
        


        .my-footer .container .split-bar:after {
            content: "";
            display: block;
            width: 60px;
            height: 2px;
            position: absolute;
            background-color: #a9aaaa;
        }

        .my-footer .container  .split-bar:after {
            left: 0;
            margin-left: 120%;
        }

        .my-footer .photos img{
            width:80%;
        }
        .last{
            background-color: #000000;
            text-align: center;
            height: 50px;
            line-height: 50px;
            
        }
        @media(max-width:700px){
            .my-footer div{
              font-size: 12px;
            }
              .my-footer .container .my-row .title {
            height: 30px;
            font-size: 1.65rem;
        }
            
            .my-footer .col-sm-12{
                float:none !important;
            }
        }