@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "返利";
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/ord_fanli/Edit/" + u_id;
                location.href = url_go;
            }
        });
        getDetailWithKhid();//初始化该客户的'总额'和'可用额'
        getFanliXiaoFeiWithQuery();//获取返利消费
        getFanliChongZhiWithQuery();//获取返利充值
        /*
            返利消费点击查询事件
        */
        $("#btn_req_flxf").on("click", function () {
            getFanliXiaoFeiWithQuery();
        });
        /*
            返利充值点击查询事件
        */
        $("#btn_req_flcz").on("click", function () {
            getFanliChongZhiWithQuery();
        });
    });
    //格式化是否
    function formatBoolToCHinese() {
        $("#table_flcz").find("tr").each(function () {
            var boolT_F = $(this).find(".kysf_flxf").html();
            if (boolT_F == "true") {
                $(this).find(".kysf_flxf").html("是");
            } else {
                $(this).find(".kysf_flxf").html("否");
            }
        });
    }

 
    /*
        获取返利充值
    */
    function getFanliChongZhiWithQuery() {
        //数据千分制
        function toThousands(s, n) {
            /*
             * 参数说明：
             * s：要格式化的数字
             * n：保留几位小数
             * */
            n = n > 0 && n <= 20 ? n : 2;
            s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
            var l = s.split(".")[0].split("").reverse(),
                r = s.split(".")[1];
            t = "";
            for (i = 0; i < l.length; i++) {
                t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
            }
            return t.split("").reverse().join("") + "." + r;
        }


        var _khid = $("#khid").val();
        var _req_ffyf = $("#req_ffyf").val();
        var _req_kysf = $("#req_kysf").val();
        if (_req_kysf == "是") {
            _req_kysf = "true";
        } else if (_req_kysf == "否") {
            _req_kysf = "false";
        } else {
            _req_kysf = "";
        }
        var str = "";
        $.ajax({
            async: true,
            beforeSend: function () {
                ShowWait();
            },
            complete: function () {
                HiddenWait();
            },
            type: "POST",
            url: "/ord_fanlicz/getFanliChongZhiWithQuery",
            data: {
                khid: _khid,
                req_ffyf: _req_ffyf,
                req_kysf: _req_kysf
            },
            success: function (data) {
                var _xh = 0;
                for (var i in data) {
                    _xh++;
                    str += [
                        '<tr>',
                        '<td><input type="hidden" value="' + data[i].ID + '">'+_xh+'</td>',
                        '<td><span class="czje_flxf">' + toThousands(( data[i].CZJE),2) + '</span></td>',
                        '<td><span class="ffyf_flxf">' + data[i].FFYF + '</span></td>',
                        '<td><span class="kysf_flxf">' + data[i].KYSF + '</span></td>',
                        '<td><span class="makedate">' + data[i].MakeDate.toDate().Format("yyyy-MM-dd") + '</span></td>',
                        '</tr>'
                    ].join();
                }
                $("#tbody_flcz").html(str);
                formatBoolToCHinese();//'是否'格式化
            }
        });
    }
    /*
        获取返利消费
        实际查询功能还未添加
    */
    function getFanliXiaoFeiWithQuery() {
        var _khid = $("#khid").val();
        var _req_ddid = "";
        var _req_bianhao = $("#req_bianhao").val().trim();
        console.log(_req_bianhao);
        $("#tbody_flxf tr").each(function () {
            console.log($(this).find(".bianhao_flxf").html());
            if ($(this).find(".bianhao_flxf").html() == _req_bianhao) {
                _req_ddid = $(this).find(".ddid_flxf").html();
            }
        });
        var _req_xfje = $("#req_xfje").val();
        var str = "";



        //数据千分制
        function toThousands(s, n) {
            /*
             * 参数说明：
             * s：要格式化的数字
             * n：保留几位小数
             * */
            n = n > 0 && n <= 20 ? n : 2;
            s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
            var l = s.split(".")[0].split("").reverse(),
                r = s.split(".")[1];
            t = "";
            for (i = 0; i < l.length; i++) {
                t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
            }
            return t.split("").reverse().join("") + "." + r;
        }



        $.ajax({
            async: true,
            beforeSend: function () {
                ShowWait();
            },
            complete: function () {
                HiddenWait();
            },
            type: "POST",
            url: "/ord_fanlixf/getFanliXiaoFeiWithQuery",
            data: {
                khid: _khid,
                req_ddid: _req_ddid,
                req_xfje: _req_xfje
            },
            success: function (data) {
                var _xh = 0;
                for (var i in data) {
                    _xh++;
                    str += [
                        '<tr>',
                        '<td><input type="hidden" value="' + data[i].ID + '">'+_xh+'</td>',
                        '<td><a href="/ord_dingdan/customerorderinfo/' + data[i].DDID + '"><span class="bianhao_flxf">' + data[i].Bianhao + '</a></span><span class="ddid_flxf" style="display:none;">' + data[i].DDID + '</span></td>',
                        '<td><span class="xfje_flxf">' + toThousands((data[i].XFJE), 2) + '</span></td>',
                        '<td><span class="makedate">' + data[i].MakeDate.toDate().Format("yyyy-MM-dd") + '</span></td>',
                        '</tr>'
                    ].join();
                }
                $("#tbody_flxf").html(str);
            }
        });
    }


    //初始化该客户的总额和可用额
    function getDetailWithKhid() {

        //数据千分制
        function toThousands(s, n) {
            /*
             * 参数说明：
             * s：要格式化的数字
             * n：保留几位小数
             * */
            n = n > 0 && n <= 20 ? n : 2;
            s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
            var l = s.split(".")[0].split("").reverse(),
                r = s.split(".")[1];
            t = "";
            for (i = 0; i < l.length; i++) {
                t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
            }
            return t.split("").reverse().join("") + "." + r;
        }


        var _khid = $("#khid").val();  
        $.ajax({
            async: true,
            type: "POST",
            url: "/ord_fanli/getDetailWithKhid",
            data: {
                khid: _khid
            },
            success: function (data) {
                //$("#totalPrice").html(data.Zonge);    
                $("#totalPrice").html(toThousands((data.Zonge), 2));
                //console.log(data.Zonge);
                $("#availablePrice").html(toThousands((data.Keyong), 2));
            }
        });
    }

    
</script>


@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "KHID";
        scm.ItemTitle = "客户";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "KHID";
            scm.ItemTitle = "客户";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}
<div class="page-content">
    <div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
    <input type="hidden" id="khid" value="@ViewBag.khid" />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        @*客户信息*@
                        <div class="row">
                            <div class="col-sm-12" style="font-size:18px;">
                                <i class="icon-user bigger-300 green"></i>&nbsp;&nbsp;
                                <b>@Html.GetDataValue_ID("收货单位", "", (int)(ViewBag.khid == null ? 0 : ViewBag.khid))</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>总额：<span id="totalPrice" class="orange" style="font-size:28px;">0</span></b>&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>可用：<span id="availablePrice" class="green" style="font-size:28px;">0</span></b>
                            </div>
                        </div>
                        <hr />
                        @*tab*@
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_flxf">
                                                <i class="green icon-home bigger-110"></i>
                                                消费记录
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_flcz">
                                                <i class="green icon-money bigger-110"></i>
                                                返利记录
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab_flxf" class="tab-pane in active">
                                            @*查询条件*@

                                            @*订单序号*@
                                            <div class="form-group col-sm-3">
                                                <label for="req_bianhao" class="col-sm-4 control-label"><b>订单编号</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="req_bianhao" class="form-control" placeholder="请输入订单编号" />
                                                </div>
                                            </div>
                                            @*消费金额*@
                                            <div class="form-group col-sm-3">
                                                <label for="req_xfje" class="col-sm-4 control-label"><b>消费金额</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="req_xfje" class="form-control" placeholder="请输入消费金额" />
                                                </div>
                                            </div>
                                            @*制单日期*@
                                            @*<div class="form-group col-sm-3">
                                                <label for="req_date" class="col-sm-4 control-label"><b>消费日期</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="req_date" class="form-control" placeholder="请输入制单日期" />
                                                </div>
                                            </div>*@
                                            @*按钮*@
                                            <div class="form-group col-sm-2">
                                                <button type="button" id="btn_req_flxf" class="btn btn-white "><i class="icon-search green"></i><b>查询</b></button>
                                            </div>
                                            @*列表*@
                                            <table class="table table-bordered table-hover" id="table_flxf">
                                                <tr>
                                                    <th></th>
                                                    <th>订单编号</th>
                                                    <th>消费金额</th>
                                                    <th>消费日期</th>
                                                </tr>
                                                <tbody id="tbody_flxf"></tbody>
                                            </table>
                                        </div>
                                        <div id="tab_flcz" class="tab-pane">
                                            @*查询条件*@

                                            @*发放月份*@
                                            <div class="form-group col-sm-3">
                                                <label for="req_ffyf" class="col-sm-4 control-label"><b>返利月份</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="req_ffyf" class="form-control" placeholder="请输入发放月份" />
                                                </div>
                                            </div>
                                            @*是否可用*@
                                            <div class="form-group col-sm-3">
                                                <label for="req_kysf" class="col-sm-4 control-label"><b>是否可用</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="req_kysf" class="form-control" placeholder="请输入'是'或'否'" />
                                                </div>
                                            </div>
                                            @*制单日期*@
                                            @*<div class="form-group col-sm-3">
                                                <label for="req_date" class="col-sm-4 control-label"><b>充值日期</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="req_date" class="form-control" placeholder="请输入制单日期" />
                                                </div>
                                            </div>*@
                                            @*按钮*@
                                            <div class="form-group col-sm-2">
                                                <button type="button" id="btn_req_flcz" class="btn btn-white "><i class="icon-search green"></i><b>查询</b></button>
                                            </div>
                                            @*列表*@
                                            <table class="table table-bordered table-hover" id="table_flcz">
                                                <tr>
                                                    <th></th>
                                                    <th>返利金额</th>
                                                    <th>返利月份</th>
                                                    <th>是否可用</th>
                                                    <th>返利日期</th>
                                                </tr>
                                                <tbody id="tbody_flcz"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
