@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "国润平台";
    string _searchcondition = ViewBag.SearchCondition;
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#carousel-Medical-instruments').carousel({
            interval: 4000,
        });
    });
</script>
@*轮播图*@
<div id="carousel-Medical-instruments" class="carousel slide" data-ride="carousel">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-Medical-instruments" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-Medical-instruments" data-slide-to="1"></li>
        <li data-target="#carousel-Medical-instruments" data-slide-to="2"></li>
    </ol>

    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Imgs/carousel/carousel-1.jpg" class="img-responsive" alt="欢迎来到嘉事国润：我们以客户中心|创新为驱动|质量为生命|人才为基础" width="100%">
            @*<div class="carousel-caption">
                    ...可选标题
                </div>*@
        </div>
        <div class="item">
            <img src="~/Imgs/carousel/carousel-2.jpg" class="img-responsive" alt="我们的使命：与客户精诚合作，致力于提高医疗保健水平" width="100%">
            @*<div class="carousel-caption">
                    ...可选标题
                </div>*@
        </div>
        <div class="item">
            <img src="~/Imgs/carousel/carousel-3.jpg" class="img-responsive" alt="坚持质量第一：我们致力于通过有效的质量体系，为客户提供符合法规要求的创新产品和服务" width="100%">
            @*<div class="carousel-caption">
                    ...可选标题
                </div>*@
        </div>
    </div>

    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#carousel-Medical-instruments" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-Medical-instruments" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@*内容*@
<div class="container">
    @*part1*@
    <div class="row">
        <div class="col-sm-12">
            <div class="" style="margin:100px 0 80px;">
                <div class="row center">
                    <h3 class="" style="font-size:24px;font-weight:bold;">源自医疗、助力医疗、根植医疗</h3>
                    <div class="" style="font-size:14px;">
                        <p class="line" style="border-top:1px solid #0094ff;width:30px;margin:20px auto 40px;"></p>
                        <p class="linh25">国润，以创新科技驱动，以绝对的医学专业为前提和基石，将移动互联网、数据技术应用于健康领域</p>
                        <p class="linh25">用科技，改善医疗服务的效率和连续性；用科技，让优质医疗资源惠及更多的家庭；用科技，让更多的人受惠于医疗保健的预防价值，而不只是“因病治疗”</p>
                        <p class="linh25">国润，帮助您获得更便捷的医疗健康服务与更优质的健康维护方案</p>
                    </div>

                </div>
            </div>
            @*一组缩略图*@
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Imgs/Introduce/tuhuan1.jpg" alt="..." class="img-responsive">
                        <div class="caption center" style="font-size:14px;">
                            <h4 style="font-weight:bold;">普惠</h4>
                            <div class="f12">为大众提供更高品质的医疗健康服务</div>
                            <div class="f12" style="margin-top: 2px;">帮助大众在健康维护中获益</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Imgs/Introduce/tuhuan2.jpg" alt="..." class="img-responsive">
                        <div class="caption center" style="font-size:14px;">
                            <h4 style="font-weight:bold;">创新</h4>
                            <div class="f12">协同现有医疗体系，以主动管理式医疗服务</div>
                            <div class="f12" style="margin-top: 2px;">更好的维护大众健康、实现价值医疗</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Imgs/Introduce/tuhuan3.jpg" alt="..." class="img-responsive">
                        <div class="caption center" style="font-size:14px;">
                            <h4 style="font-weight:bold;">重构</h4>
                            <div class="f12">以前瞻视野重构医疗健康服务模式</div>
                            <div class="f12" style="margin-top: 2px;">实现大众健康价值与医生医疗价值回归</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*part2*@
    <div class="row">
        <div class="col-sm-12">
            <div class="" style="margin:100px 0 80px;">
                <div class="row center">
                    <h3 class="" style="font-size:24px;font-weight:bold;">联系我们</h3>
                    <div class="" style="font-size:14px;">
                        <p class="line" style="border-top:1px solid #0094ff;width:30px;margin:20px auto 40px;"></p>
                        <p class="linh25 f12">国润—让优质医疗资源发挥更广泛价值，让大众获得更便捷可及、优质高效与值得信赖的医疗健康服务</p>
                    </div>

                </div>
            </div>
            @*一组缩略图*@
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail" style="border:none;">
                        <div class="caption center" style="font-size:14px;">
                            <i class="icon-user green" style="font-size:500%;"></i>
                            <h4 style="font-weight:bold;margin:30px 0 20px;">联系客服</h4>
                            <div class="f12">电话：021-63055648</div>
                            <div class="f12" style="margin-top: 2px;">邮箱：service@cachetsh.com</div>
                            <div class="f12" style="margin-top: 2px;">工作时间：8:30-17:30（周一至周五）</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail" style="border:none;">
                        <div class="caption center">
                            <i class="icon-coffee green" style="font-size:500%;"></i>
                            <h4 style="font-weight:bold;margin:30px 0 20px;">商务合作</h4>
                            <div class="f12">联系人：春经理</div>
                            <div class="f12" style="margin-top: 2px;">电话：021-63055648-205</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail" style="border:none;">
                        <div class="caption center" style="font-size:14px;">
                            <i class="icon-map-marker  green" style="font-size:500%;"></i>
                            <h4 style="font-weight:bold;margin:30px 0 20px;">公司地址</h4>
                            <div class="f12">上海市制造局路787号4楼</div>
                            <div class="f12" style="margin-top: 2px;">邮编：200011</div>
                            <div class="f12" style="margin-top: 2px;">传真：63082892</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*part3*@
    <div class="row">
        <div class="col-sm-12">
            <div class="" style="margin:100px 0 80px;">
                <div class="row center">
                    <h3 class="" style="font-size:24px;font-weight:bold;">反馈意见</h3>
                    <div class="" style="font-size:14px;">
                        <p class="line" style="border-top:1px solid #0094ff;width:30px;margin:20px auto 40px;"></p>
                        <p class="mtop40 mb8">感谢使用国润产品和服务</p>
                        <p class="linh25">您宝贵的建议是途欢前进的动力，我们期待您的反馈和建议</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="feedback">
            <div class="col-md-5 col-sm-12">
                <div class="feedback-l">
                    <img class="img-responsive" src="~/Imgs/Introduce/tuhuan4.jpg" alt="..." />
                </div>
            </div>
            <div class="col-sm-12 col-md-7" style="min-height:300px;">
                <div class="feedback-r">
                    <form class="form-horizontal" id="form" role="form" action="" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" id="Lianxiren" name="Lianxiren" class="form-control" placeholder="请输入邮箱或密码，便于我们联系您" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" style="height:192px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" id="jxs_search" class="btn btn-primary " style="border-radius:6px;">
                                    <span style="font-size:16px!important;"><b>提交</b></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="space-10"></div>
<div class="copyright" style="background-color:#333;">
    <div class="container" style="padding:0px;">
        <div>
            <div class="row">
                <div style="font-size:14px;font-weight:bold;color:#fff;">
                    <div class="col-sm-6 col-sm-offset-3" style="padding:20px;">
                        <div class="align-center align-middle">
                            &copy; @DateTime.Now.Year 嘉事国润
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>