@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "国润平台";
    string _searchcondition = ViewBag.SearchCondition;
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
}
<style type="text/css">
    /*banner css start*/
    #banner .banner-item .banner-text > div:first-child {
                font-size: 48px;
    }
    #banner .banner-item em {
        font-size: 66px;
    }
    #banner .banner-item .banner-text > div:last-child {
        font-size: 20px;
    }
    #banner .banner-item:nth-child(1) .banner-img {
        background-image:url(../../Imgs/page1_pic4.jpg);
    }
    #banner .banner-item:nth-child(2) .banner-img {
        background-image: url(../../Imgs/ck1.jpg);
    }
    @@media (-webkit-min-device-pixel-ratio:2) {
        #banner .banner-item:nth-child(1) .banner-img {
            background-image: url(../../Imgs/page1_pic4.jpg) !important;
        }
        #banner .banner-item:nth-child(2) .banner-img {
            background-image: url(../../Imgs/ck1.jpg) !important;
        }
    }
    @@media (max-width: 767px) {
        #banner .banner-item .banner-text > div > div[data-role='entext'] {
            padding: 0 !important;
        }
        #banner .banner-item .banner-text > div:first-child {
            font-size: 24px;
        }
        #banner .banner-item em {
            font-size: 20px;
        }
        #banner .banner-item .banner-text > div:last-child {
            font-size: 10px;
        }
        #banner .banner-item:nth-child(1) .banner-img {
            background-image: url(../../Imgs/page1_pic4.jpg) !important;
        }
        #banner .banner-item:nth-child(2) .banner-img {
            background-image: url(../../Imgs/ck1.jpg) !important;
        }
    }
    /*banner css end*/
    .team-person {
        position: relative;
        margin: 0 20px;
    }

    .slideup_info p {
        color: #333;
        margin-bottom: 0;
    }

    .slideup_info {
        color: #666;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #fff;
        transition: all 0.4s ease-in-out;
    }
    .team-person.hover .slideup_info {
        opacity: 0.9;
    }
    .team-person > div img {
        transition: all 0.3s;
        cursor: pointer;
    }
    .team-person.hover > div img {
        transform: scale(1.02);
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
    .leader-line {
        border-top: 1px solid #3bbe7a;
        width: 70px;
        margin: 25px auto;
    }
    .slideup_info_bg {
        border: 4px solid rgba(59, 190, 122,.7);
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .i-item-con-div {
        transition: all 0.4s ease-in-out;
        padding: 3% 0;
        background-color: rgba(255,255,255,.98);
    }
    .team-person.hover .i-item-con-div {
        opacity: 0;
    }
    .slideup_info ul {
        margin: 0;
    }
        .slideup_info ul li {
            line-height: 26px;
        }
    @@media only screen and (max-width: 767px) {
        .col-small-12 {
            width: 100%;
        }
        .team-person {
            position: relative;
            margin: 10px 0;
        }
        .itme-con {
            padding: 15px 0;
        }
        .leader-line {
            margin: 13px auto 10px;
        }
    }
    .banner .banner-item .banner-text > div {
        margin-top: 18%\9; /*兼容IE6 IE7 IE8*/
    }
    .slideup_info_bg > div {
        margin-top: 32%\9; /*兼容IE6 IE7 IE8*/
    }
</style>

<div id="banner" class="banner">
    <div class="banner-item animated" data-classin="fadeIn" data-classout="fadeOut delay10" data-time="400" data-thumb="~/assets/banner/img/aboutus-banner1-2x-small.jpg">
        <div class="banner-img"></div>
        <div class="banner-text vbox box-h-center box-v-center">
            <div style="margin-left: 33%;">
                <div class="animated" data-classin="fadeInDown delay5 duration5" data-classout="fadeOutUp delay duration5">
                    人生旅<em>途 欢 </em>悦同行
                </div>
                <div data-role="entext" class="animated" data-classin="fadeInUp delay7 duration5" data-classout="fadeOutDown delay duration5" style="margin-top:5%">
                    To Health To Happiness
                </div>
            </div>
        </div>
    </div>
    <div class="banner-item animated" data-classin="fadeIn" data-classout="fadeOut delay10" data-time="400" data-thumb="~/assets/banner/img/aboutus-banner2-2x-small.jpg">
        <div class="banner-img"></div>
        <div class="banner-text vbox box-h-center box-v-center">
            <div style="margin-left: 7%;">
                <div class="animated" data-classin="fadeInDown delay5 duration5" data-classout="fadeOutUp delay duration5">
                    连接您与复杂医学世界的桥梁
                </div>
                <div class="animated" data-role="entext" data-classin="fadeInUp delay7 duration5" data-classout="fadeOutDown delay duration5" style="margin-top:2%">
                    Getting Access To Better Quality Health Care
                </div>
            </div>
        </div>
    </div>
    <div class="banner-tool">
    </div>
    <div class="banner-prev">
    </div>
    <div class="banner-next">
    </div>
</div>
