@using GROBS.App_Code
@using GROBS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "国润平台";
    string _searchcondition = ViewBag.SearchCondition;
    Layout = "~/Views/Shared/_LayoutCustomer02.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
   
        $("#jxs_search").click(function () {
            var _sug = $("#text").val();
            if (_sug == "") {
                alert("请输入信息后再提交！");
                return;
            }
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/ord_kehufankui/addfeedback",
                data: {
                    lxr: $("#Lianxiren").val(),
                    memo: _sug,
                    lx:$("#lx_sel").val()
                },
                success: function (data) {
                    if (data == 1) {
                        alert("您的信息已传送成功！");
                        location.reload();
                    }
                }
            });
        });
    });
</script>
@*轮播图*@
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>

<section class="swiper-container proportionate p3_1">
    <div class="swiper-wrapper content">
        <div class="swiper-slide"><img src="~/Imgs/carousel/swiper-slide-1.jpg" alt="" /></div>
        <div class="swiper-slide"><img src="~/Imgs/carousel/swiper-slide-2.jpg" alt="" /></div>
        <div class="swiper-slide"><img src="~/Imgs/carousel/swiper-slide-3.jpg" alt="" /></div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#ffffff' /></svg></div>
    <div class="swiper-button-prev"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#ffffff' /></svg></div>
</section>



@*关于我们部分*@  
<section class="about-us">
    <div class="">
        <div class="content identification">
            <div class="title">关于我们</div>
            <div class="split-bar"></div>
            <div class="content">About us</div>
            <p>嘉事国润</p>
        </div>
    </div>
    <div class="proportionate p2_1">
        <div class="content display-flex split2" style="background-color:#3085b1;">
            <div><img src="~/Imgs/carousel/img1.jpg" alt="" /></div>
            <div class="center-container">
                <div class="content introduction">
                    <label></label><br /> 一站式创新医疗产品采购服务平台
                    <br /> 致力于为广大合作伙伴提供
                    <br /> 安全、优质、高效的
                    <br /> 医疗产品
                    <br /> 为现代智慧医疗提供创新持续源动力
                </div>
            </div>
        </div>
    </div>
    <div class="proportionate p2_1">
        <div class="content center-container">
            <div class="content introduction">
                <label></label><br /> 同时，
                <br /> 我们以专业的态度，
                <br /> 以诚信、平等、规范、共赢的原则
                <br /> 为每个客户提供
                <br /> 全方位的医疗产品供应链
                <br /> 成为大健康产业不可或缺的一部分。
            </div>
        </div>
    </div>
    <div class="proportionate p2_1">
        <div class="content display-flex split2" style="background-color:#2cbba4;">
            <div><img src="~/Imgs/carousel/img2.jpg" alt="" /></div>
            <div class="center-container">
                <div class="content introduction">
                    <label></label><br /> 我们一直追求卓越的品质，
                    <br /> 给予专业、完善、可靠的供应链服务
                    <br /> 携手同行，
                    <br /> 保障大众健康，提高生活品质
                </div>
            </div>
        </div>
    </div>
</section>

@*中间banner部分*@

<section class="proportionate center-container p2_1 tag-container">
    <div class="content display-flex">
        <div class="tag">
            <div class="proportionate p62">
                <div class="content">
                    <img src="~/Imgs/carousel/img4.jpg" alt="">
                </div>
            </div>
            <div class="proportionate p1_1">
                <div class="content identification">

                    <div class="title">创新</div>
                    <div class="split-bar"></div>
                    <div class="content">innovative</div>
                    <p>
                        为合作客户提供<br /> 方便快捷的线上采购平台
                        <br /> 快速下单，物流到贵公司
                    </p>
                </div>
            </div>
        </div>
        <div class="tag">
            <div class="proportionate p62">
                <div class="content">
                    <img src="~/Imgs/carousel/img5.jpg" alt="">
                </div>
            </div>
            <div class="proportionate p1_1">
                <div class="content identification">
                    <div class="title">专业</div>
                    <div class="split-bar"></div>
                    <div class="content">professional</div>
                    <p>
                        所有产品订单后台查询<br />
                        全线跟踪，并进行数据保存<br />
                        还可以进行分配管理<br />为客户市场管理和拓展提供便利
                    </p>
                </div>
            </div>
        </div>
        <div class="tag">
            <div class="proportionate p62">
                <div class="content">
                    <img src="~/Imgs/carousel/img6.jpg" alt="">
                </div>
            </div>
            <div class="proportionate p1_1">
                <div class="content identification">
                    <div class="title">卓越</div>
                    <div class="split-bar"></div>
                    <div class="content">prominent</div>
                    <p>
                        平台定期推出优惠服务<br />
                        和共享服务整合产业供应链，<br />
                        为客户提供优质、<br />优惠的产品和卓越的服务
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feedback-container">
    <div class="introduction">
        <div class="identification">
            <div class="title">反馈意见</div>
            <div class="split-bar"></div>
            <div class="content">Feedback</div>
            <p>
                感谢使用嘉事国润一站式创新医疗采购平台<br /> 您宝贵的意见，是我们前行的动力
                <br /> 期待您的反馈和建议！
            </p>
        </div>
    </div>
    <div class="proportionate p2_1">
        <div class="content display-flex split2" style="background-color:#ffffff;">
            <div><img src="~/Imgs/carousel/img3.jpg" alt="" /></div>
            <div class="center-container">
                <div class="content feedback">
                    <input class="input-area"  id="lianxiren" type="text" placeholder="请输入邮箱或手机号，便于我们联系您">
                    <textarea class="input-area" name="" id="text" cols="20" rows="6"></textarea>
                    <select class="" name="lx_sel" id="lx_sel"></select>
                    <input class="btn1"  id="jxs_search" type="button" value="提交">
                </div>
            </div>
        </div>
    </div>
</section>

  @*结尾部分*@
<footer>
    <section class="corp-introduction">
        <div class="logo">
            <img src="~/Imgs/carousel/logo.png" alt="">
        </div>
        <div class="content">
            <section>
                <div class="title">关于我们</div>
                <div class="split-bar"></div>
                <div>
                    嘉事国润（上海）医疗科技有限公司<br /> 公司地址：上海市制造局路787号4楼
                    <br /> 邮编：200011
                </div>
            </section>
            <section>
                <div class="title">联系客服</div>
                <div class="split-bar"></div>
                <div>
                    电话：021-63055648<br /> 邮箱：service@cachetsh.com
                    <br /> 工作时间：8:30-17:30（周一至周五）
                </div>
            </section>
            <section>
                <div class="title">商务合作</div>
                <div class="split-bar"></div>
                <div>
                    联系人：杨经理<br /> 电话：021-63153091
                </div>
            </section>
            <section class="qrcode">
                <img src="~/Imgs/carousel/qrcode.jpg" alt="">
            </section>
        </div>
        <section class="clear"></section>
    </section>
    <section class="corp">©&nbsp;&nbsp;2017嘉事国润&nbsp;&nbsp;&nbsp;&nbsp;京ICP备12039647</section>
</footer>















       