@using GROBS.App_Code
@using GROBS.Models
@model base_shangpinjgViewModel
@{ViewBag.Title = "商品价格添加";}

<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_bottom").bind("click", function () {
            $("#form").submit();
        });
        /*
            选择商品
        */
        $("#containerSpxx").draggable({ handle: '.tuodong' }, { containment: [-1000, 50, 1300, 600] });
        //click
        getSpxx();   //获取商品数据
        $("#btn_select").bind("click", function () {
            $("#containerSpxx").show();
        });
        //弹框关闭
        $("#container_close").click(function () {
            $("#containerSpxx").hide();
        });
        //确定添加
        $("#btn_confirm").click(function () {
            var _data = "";
            var _spid = "";
            $("#table_data tr").each(function () {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    _data = $(this).find(".Mingcheng").html();
                    _spid = $(this).find(".checkbox").val();
                }
                $("#spid").val(_spid);
                $("#spmc").val(_data);
            });
            $("#containerSpxx").hide();
        });
        //单击tr打钩
        $("#table_data").on("click", "tr", function () {
            $("input[type=checkbox]").prop("checked", false);
            $(this).find(":checkbox").prop("checked", true);
        });
        //双击取值
        $("#table_data tbody").on("dblclick", "tr", function () {
            $("#spmc").val($(this).find(".Mingcheng").html());
            $("#spid").val($(this).find(".checkbox").val());
            $("#containerSpxx").hide();
        });
    });
    function getSpxx() {
        var filltable = "";
        $.post(
            "/base_shangpinxx/getSpxx",
            {
            },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></td><td><span class="Daima">';
                        filltable = filltable + data[i].Daima;
                        filltable = filltable + '</span></td><td><span class="Mingcheng">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td>';
                        filltable = filltable + data[i].Huansuanlv;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Danwei;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].BaozhuangDW;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#containerSpxx tbody").html(filltable);
                });
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinjg">商品价格</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript:history.back(-1); "><i class="icon-reply icon-only"></i><b>返回</b></button>
        <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4">
            <i class="icon-save"></i><b>保存</b>
            <span class="badge badge-transparent">
                <i class="light-red icon-asterisk"></i>
            </span>
        </button>
    </div>
    <div class="wrapper" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="widget-box radius-4">
                        <div class="widget-header">
                            <h4><b>商品价格</b></h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                @using (Html.BeginForm("Save", "base_shangpinjg", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                    <input type="hidden" id="spid" name="spid"/>
                                    <fieldset>
                                        @*商品*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><i class="red glyphicon glyphicon-asterisk"></i> <b>商品</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="spmc" placeholder="请选择商品" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btn_select" class="btn btn-primary btn-sm">
                                                            选择
                                                            <i class="icon-hand-up icon-on-right bigger-110"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*销售价*@
                                        <div class="form-group">
                                            <label for="JiaXS" class="col-sm-3 control-label"><b>销售价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaXS" name="JiaXS" class="form-control" placeholder="请输入销售价" />
                                            </div>
                                        </div>
                                        @*采购价*@
                                        <div class="form-group">
                                            <label for="JiaCG" class="col-sm-3 control-label"><b>采购价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaCG" name="JiaCG" class="form-control" placeholder="请输入采购价" />
                                            </div>
                                        </div>
                                        @*内部价*@
                                        <div class="form-group">
                                            <label for="JiaNB" class="col-sm-3 control-label"><b>内部价</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="JiaNB" name="JiaNB" class="form-control" placeholder="请输入内部价" />
                                            </div>
                                        </div>
                                        @*Col1*@
                                        <div class="form-group" style="display:none;">
                                            <label for="Col1" class="col-sm-3 control-label"><b>Col1</b></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="Col1" name="Col1" class="form-control" placeholder="请输入Col1" />
                                            </div>
                                        </div>
                                        @*录入日期*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeDate"><b>录入日期</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input name="MakeDate" id="MakeDate" disabled="disabled" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        @*录入人*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="MakeMan"><b>录入人</b></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input placeholder="录入人" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)">
                                                    <span class="input-group-addon">
                                                        <i class="icon-user bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions center">
                                        <button id="save_bottom" class="btn btn-primary" type="button">
                                            <b>保存</b>
                                            <i class="icon-save bigger-110"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*商品弹框*@
<div id="containerSpxx" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:250px;width:1000px;height:500px;z-index:99999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title"><b>商品信息</b><button id="container_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary " id="btn_confirm">
            <i class="icon-pencil bigger-120"></i>
            <b>添加</b>
        </button>
        <div  style="margin-top:10px;max-height:330px;overflow:auto;">
            <table class="table table-hover" id="table_data">
                <caption></caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>代码</th>
                        <th>商品名称</th>
                        <th>换算率</th>
                        <th>基本单位</th>
                        <th>销售单位</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>